node_modules/
dist/
coverage/
.env
.env.*
!.env.example
.DS_Store
.sst/
!.sst/platform/package.json
sst-env.d.ts
miscellaneous/python/sst.pyi
.next/
*.tsbuildinfo

# Ignore the open-next files
.open-next/

# Ignore my miscellaneous files, but keep certain things
miscellaneous/*
!miscellaneous/python/
!miscellaneous/docs/


